/*
    Prepocesador sass de css
*/

body {
    background-color: lightgray;
    width: 100%;
}

a.desactivado {
    /*
    color: red; //Puedo eliminarlo por el uso de Bootstrap
    */
    text-decoration: none;
    pointer-events: none;
    /* Desactiva el ratón sobre el link */
}

[class*="boton-"] {
    font-size: larger;
    color: black;
    text-decoration: none;
}

.bordes-2 {
    border: 2px solid black;
}

[class*="boton-"]:hover {
    background-color: aquamarine;
}

.caja-boton {
    background-color: aliceblue;
    padding: 4px;
}

.caja-boton:hover {
    background-color: aliceblue;
}

.caja-vacia {
    background-color: inherit;
    padding: 0;
}

.caja-vacia:hover {
    cursor: pointer;
}

.color-az {
    color: blue;
}

.fondo-v {
    background-color: darkseagreen;
}

.boton-normal {
    background-color: olive;
}

.boton-peligro {
    background-color: darkred;
}

.color-r {
    color: red;
}

.texto-c {
    text-align: center;
}

[class*="fuente-20"] {
    font-size: 20px;
}

[class*="-bold"] {
    font-weight: bolder;
}

.fondo-alice {
    background-color: aliceblue;
}

.sin-bordes {
    border: none;
}

@for $dato from 1 to 31 {
    .ancho-#{$dato} {
        display: inline-block;
        width: $dato*1em;
    }
}

.alto-2 {
    line-height: 2em;
}

.alto-3 {
    line-height: 3em;
}

.margen-10 {
    margin: 10px;
}

.centraTabla {
    text-align: center;
}

.tabla-i-b {
    display: inline-block;
}

.tabla {
    border: 5px solid saddlebrown;
}

.colapsada {
    border-collapse: collapse;
}

.celda {
    border: 2px solid black;
    padding: 2px;
}

a,
input {
    padding: 2px;
}

.nav-pills .nav-item .active {
    border: 2px solid transparent;
}

.nav-pills .nav-item .color-az {
    border: 2px solid transparent;
    background-color: lightgreen;
}

.nav-pills .nav-item .color-az:hover {
    border: 2px solid black;
}

.nav-item {
    margin: 10px;
}

.flex-der {
    flex-direction: row-reverse;
}

.alto-pantalla {
    height: 100vh;
}

.sin-margen {
    margin: 0px;
}